include mixins/navigation.jade
include mixins/template.jade
include mixins/tree.jade

doctype html
html(lang="en")
  head
    title= title
    each cssFile in css
      link(href=cssFile, rel='stylesheet')
    link(href=baseUrl + 'css/ks.css', rel='stylesheet')
  body.ks-body
    .ks-layout
      .ks-content
        if (current.children)
          +tree(current, 1)
        else
          +template(current)
      .ks-navigation
        .ks-menu
          .ks
            ul.list-unstyled
              +navigation(tree, 0)
      script(src=baseUrl + 'js/cl.js')
      each jsFile in js
        script(src=jsFile)