include mixins/navigation.jade
include mixins/template.jade
include mixins/tree.jade

doctype html
html(lang="en")
  head
    title= title
    each cssFile in css
      link(href=cssFile, rel='stylesheet')
    link(href=baseUrl + 'css/cl.css', rel='stylesheet')
  body
    div#cl-layout
      a#cl-menuLink.cl.cl-menu-link(href="#menu")
        i.cl-fa.cl-fa-bars
      div#cl-menu
        .cl-navigation
          .cl.cl-menu
            ul.list-unstyled
              +navigation(tree, 0)
      div#cl-main
        .cl-content
          if (current.children)
            +tree(current, 1)
          else
            +template(current)
    script(src=baseUrl + 'vendor.js')
    script(src=baseUrl + 'js/cl.js')
    each jsFile in js
      script(src=jsFile)